NODE_ENV=development
PORT=3000
SESSION_SECRET=change_me_strong_secret
TELEGRAM_BOT_TOKEN=8089091309:AAFGLChcMw7mjjNFGWC7wMbEzhp2QVLUwJo
TELEGRAM_API_ID=1128987
TELEGRAM_API_HASH=8bf3240bbd1f38eb006b9213da7235a9
WEBHOOK_SECRET=ad9fbe5a09e1c3d4e2f06b0f4e5d8c1a
WEBHOOK_URL=https://darlingveb.onrender.com/webhook
DISK_PATH=/var/data
GITHUB_BD_REPO=https://github.com/darlingx1x/bd.git
GITHUB_PAT= 